* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham Lounded Light";
  src: url("../fonts/Gotham-rounded-light.otf");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/Helvetica-neue-bold.ttf");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeue-Light.otf");
}

@font-face {
  font-family: "Helvetica Neue 65 Medium";
  src: url("../fonts/HelveticaNeue-Medium.otf");
}

html {
  max-width: 100%;
  font-size: 62.5%; /* Only for convenient using of rem similar to px (1.6rem = 16px) */
}

body {
  color: #000;
  min-width: 320px;
  background-color: #ddd;
  font: 12px/16px "Helvetica Neue light";
}

h3 {
  font-size: 2.4rem;
  line-height: 2.4rem;
}

h4 {
  font-size: 2.2rem;
  line-height: 2.2rem;
}

h5 {
  font-size: 2rem;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #383838;
}

/* NAV SECTION */

nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #383838;
}

.page-logo-wrap {
  width: 75px;
  height: auto;
  margin-left: 8px;
}

nav .company-logo {
  max-width: 100%;
  padding-left: 8px;
  padding-right: 3px;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.nav-item {
  color: #fff;
  list-style: none;
  flex-grow: 1;
  text-align: center;
}

.nav-bar .nav-link {
  text-decoration: none;
  color: #fff;
  font: 12px/12px "Helvetica Neue Bold";
}

.active .nav-link {
  color: #d35266;
}

.material-icons,
.bj-icon--collection {
  color: #fff;
  display: inline;
  vertical-align: middle;
}

.nav-item .fa-home,
.nav-item .material-icons,
.bj-icon--collection {
  font-size: 18px;
  line-height: 20px;
  margin-right: 4px;
}

.nav-item .ads-link {
  display: inline-block;
  padding: 0 6px;
  line-height: 24px;
  margin-right: 4px;
  background-color: #d35266;
}

/* ADS SECTION */

.add-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}

.add-section .section-title {

}

/* CART SECTION */

.store-section {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, auto);
}

.shopping-list {
  padding: 20px;
  background-color: #fff;
}

.stock-img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.fa-plus-square {
  font: 24px;
  line-height: 24px;
}

.item-condition {
  color: #d35266;
  margin-top: 6px;
  font: 12px/14px "Helvetica Neue Bold";
}

.cart-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cart-title,
.cart-title a {
  margin-top: 12px;
  color: #000;
  font-family: "Helvetica Neue Light";
}

.cart-title a:hover {
  color: #d35266;
  text-decoration: underline;
}

.cart-checkout {
  display: flex;
  margin-top: 3px;
  align-items: baseline;
  justify-content: space-between;
}

.stock-price {
  color: #d35266;
  font-family: "Helvetica Neue Bold";
}

/* END OF MOBILE VERSION */

@media only screen and (min-width: 768px) {
  .store-section {
    grid-template-columns: repeat(4, auto);
  }
}
