@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham Lounded Light";
  src: url("../fonts/Gotham-rounded-light.otf");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/Helvetica-neue-bold.ttf");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeue-Light.otf");
}

@font-face {
  font-family: "Helvetica Neue 65 Medium";
  src: url("../fonts/HelveticaNeue-Medium.otf");
}

.navbar-brand .company-logo {
  width: 56px;
  height: 3vw;
}

.nav-link .fa-home {
  font-size: 26px;
  line-height: 26px;
}

.active .nav-link {
  color: #d35266 !important;
}
