* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham Lounded Light";
  src: url("../fonts/Gotham-rounded-light.otf");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/Helvetica-neue-bold.ttf");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeue-Light.otf");
}

@font-face {
  font-family: "Helvetica Neue 65 Medium";
  src: url("../fonts/HelveticaNeue-Medium.otf");
}

.navbar {
  background-color: #383838 !important;
}

.navbar-brand .company-logo {
  width: 65px;
  height: 3rem;
  padding-left: 3px;
  padding-right: 3px;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 16px;
}

.nav-link .fa-home {
  font-size: 26px;
  line-height: 26px;
}

.active .nav-link {
  color: #d35266 !important;
}
